<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SiABi.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SiABi.My.MySettings>
            <setting name="ServerDB" serializeAs="String">
                <value>Lenovo-F\SQLEXPRESSLENOVO</value>
            </setting>
            <setting name="UserDB" serializeAs="String">
                <value>siabiadmin</value>
            </setting>
            <setting name="PassDB" serializeAs="String">
                <value>siabi2017</value>
            </setting>
            <setting name="DatabaseDB" serializeAs="String">
                <value>siabiDB</value>
            </setting>
        </SiABi.My.MySettings>
    </userSettings>
</configuration>